
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "Brygada 1918", serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    

}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top:6rem ;
    overflow-x:hidden ;
}

section{
    padding: 2rem 9%;


}


.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: #f27f3d;

}

.heading span{
    color: #fff;
}


.btn{
    display: inline-block;
    margin-top: 3rem;
    border-radius: 5rem;
    background: var(--mango);
    color: #fff;
    padding: .9rem 8.5rem;
    cursor: pointer;
    font-size: 2.2rem;
    justify-content: space-between;
}

.btn:hover{
    background-color:var(--orange) ;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index:1000;
    box-shadow:0.5rem 1rem rgba(0,0,0,.1) ;

}


header .logo{
    font-size: 3.5rem;
    color: #333;
    font-weight: bolder;

}

header .logo span{
    color: var(--pink);

}

header .navbar a{
   font-size: 2rem;
   padding: 0 1.5 rem;
   color: #666;
   margin-left: 1.5rem;
}







header .navbar a:hover{
    color: var(--orange);
}

header .icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;

}


header .icons a:hover{
    color: var(--turquoise);
}



header #toggler{
    display: none;
}







.home .content p{
    font-size: 1.7rem;
    color: azure;
    padding: 1rem 0;
    line-height: 1.5;
    
}







body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .heading {
    text-align: center;
  }
  .carousel {
    display: flex;
  }
  .carousel img {
    width: 100%;
    height: auto;
  }
  .testimonials {
    display: flex;
    justify-content: space-between;
  }
  .testimonial {
    width: calc(50% - 20px);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin-bottom: 20px;
  }
  .testimonial img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }