:root{
    --pink:#e84393;
}

:root{
    --orange:#ff9800;
} 

:root{
    --turquoise:#8ae0db;
} 

:root{
    --mango:#f27f3d;
} 



@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "Brygada 1918", serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    

}


.carousel {
    display: flex;
  }
  
  .carousel img {
    width: 100%;
    height: auto;
  }
  
  .testimonials {
    display: flex;
    justify-content: space-between;
  }
  
  .testimonial {
    width: calc(50% - 20px);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin-bottom: 20px;
  }
  
  .testimonial img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top:6rem ;
    overflow-x:hidden ;
}

section{
    padding: 2rem 9%;


}


.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: #f27f3d;

}

.heading span{
    color: #fff;
}


header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index:1000;
    box-shadow:0.5rem 1rem rgba(0,0,0,.1) ;

}


header .logo{
    font-size: 3.5rem;
    color: #333;
    font-weight: bolder;

}

header .logo span{
    color: var(--pink);

}

header .navbar a{
   font-size: 2rem;
   padding: 0 1.5 rem;
   color: #666;
   margin-left: 1.5rem;
}


.home .content h3{
    font-size: 5rem;

}

.home .content span{
    font-size: 2.5rem;
    
}



header .navbar a:hover{
    color: var(--orange);
}

header .icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;

}


header .icons a:hover{
    color: var(--turquoise);
}



header #toggler{
    display: none;
}


.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(./papagayo.jpg) no-repeat; 
    background-size: cover;
    background-position: center;
}



.home .content{
    max-width: 60rem;

}

.home .content h3{
    font-size: 6rem;
    color: azure;    
}

.home .content span{
    font-size: 2.3rem;
    color: #f6d863;
    padding: 1rem 0;
    line-height: 1.5;
    
}

.home .content p{
    font-size: 1.7rem;
    color: azure;
    padding: 1rem 0;
    line-height: 1.5;
    
}



.video-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .video-container {
    margin-right: 40px; /* Espacio entre el video y el texto */
  }
  
  .text-container h3 {
  font-size: 32px ; /* Permite que el contenedor de texto ocupe el espacio restante */
  }

  .text-container p {
    font-size: 16px ; /* Permite que el contenedor de texto ocupe el espacio restante */
    }
  

.about .row .content{
   flex: 1 1 90rem;

}

.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.products .box-container .box {
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    position: relative;
}

.products .box-container .box .discount{
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 7rem 1rem;
    font-size: 2rem;
    color: var(--mango);
    background: rgb(255, 51, 153, .05);
    z-index: 1;
    border-radius: .5rem;
}

.products .box-container .box .image {
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.products .box-container .box .image img {
    height: 25rem;
}

.products .box-container .box.btn:hover .image img {
    transform: scale(1.1);

}

.products .box-container .box .image .icons {
    position: absolute;
    bottom:-7rem;
    left: 0;
    right: 0;
    display: flex;
}

.products .box-container .box:hover .image .icons {
    bottom: 0;
}

.products .box-container .box .image .icons a {
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background: var(--mango);
    color: #fff;
}

.products .box-container .box .image .icons .cart-btn {
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width: 100%;
}

.products .box-container .box .image .icons a:hover {
    background: #333;
}

.products .box-container .box .content {
    padding: 2rem;
    text-align: center;
}

.products .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #333;
}

.products .box-container .box .content .price {
    font-size: 2.5rem;
    color:var(--mango);
    font-weight: bolder;
    padding-top: 1rem;
}

.products .box-container .box .content .price span{
    font-size: 1.5rem;
    color:#999;
    font-weight: lighter;
    text-decoration: line-through;
}

.review .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-container .box {
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgb(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
    border: 1rem solid rgb(0, 0, 0, .1);
}

.review .box-container .box .fa-quote-right {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    font-size: 6rem;
    color: #eee;
}

.review .box-container .box .stars {
    color: var(--mango);
    font-size: 2rem;
}

.review .box-container .box p {
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

.review .box-container .box .user {
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box .user img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .user h3 {
    font-size: 2rem;
    color: #333;
}

.review .box-container .box .user span {
    font-size: 1.5rem;
    color: #999;
}

.contact .row {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: center; /* Alinea los elementos verticalmente al centro del contenedor */
    justify-content: center; /* Centra los elementos horizontalmente */
}

.contact .row form {
    flex: 0.5; /* Ajusta el valor de flex para reducir el tamaño horizontal del formulario */
    padding: 0.5rem 1rem; /* Menor padding en la parte superior e inferior */
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border: 1rem solid rgba(0, 0, 0, .1);
    background: #fff;
    border-radius: 2.5rem;
    margin: 6rem; /* Margen para centrar el formulario */
}

.contact .row .image {
    flex: 0.5; /* Ajusta el valor de flex para reducir el tamaño horizontal de la imagen */
    max-width: 40rem; /* Ancho máximo de la imagen */
}

.contact .row .image img {
    width: 100%;
    border-radius: 2.5rem; /* Añade el mismo radio de borde que el formulario */
}

.contact .row form .box {
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: 1rem solid rgba(0, 0, 0, .1);
    border-radius: 5rem;
    margin: 1rem 0; /* Ajusta el margen para centrar el formulario */
    width: 100%;
}

.contact .row form .btn {
    margin-top: 1rem; /* Ajusta el margen superior del botón */
}

.contact .row form .box:focus {
    border-color: var(--mango);
}

.contact .row form textarea {
    height: 15rem;
    resize: none;
}


.footer .box-container {
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    flex-wrap: nowrap; /* No permitir que se envuelva a la siguiente línea */
}

.footer .box-container .box {
    flex: 1 1 25rem;
}

.footer .box-container .box h3 {
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a:hover {
    color: var(--mango);
    text-decoration: underline;
}

.footer .credit {
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: 1rem solid rgba(0,0,0,.1);
}

.footer .credit span {
    color: var(--mango);
}













header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor:pointer;
    border:.1rem solid  #333;
    display: none;

}




@media(max-width:991px){

    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }

    .home{
        background-position: left;
    }


    
}

@media(max-width:768px){

    header .fa-bars{
        display: block;
        font-size: 3rem;
        color: #333;
        cursor:pointer;
        padding: 1rem;
    }
  
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0,100% 0,100% 0, 0 0);
        display: none; /* Ocultar la barra de navegación en dispositivos móviles */
    }
  
    header #toggler:checked ~ .navbar {
        display: block; /* Mostrar la barra de navegación al hacer clic en el icono de hamburguesa */
        clip-path: none; /* Eliminar la máscara de recorte */
    }
  
    header .navbar a {
        margin: 1.5rem 0; /* Ajustar los márgenes superior e inferior */
        padding: 1rem;
        background:#fff;
        border: 1rem solid rgba(0,0,0,.1);
        display: block;
        text-align: center;
        width: 100%; /* Ocupar todo el ancho disponible */
    }
  }
  


